!
{% for Interface in SwInterfaces -%}
interface {{ Interface['IntName'] }}
  {% if Interface['IntTrunk'] -%}
  {% else -%}
   authentication host-mode multi-auth
   authentication order mab
   authentication port-control auto
   authentication timer reauthenticate server
   mab
  {% endif -%}
!
{% endfor -%}
!
