!
{% for Interface in SwInterfaces -%}
interface {{ Interface['IntName'] }}
  no shutdown
  {% if Interface['IntTrunk'] -%}
  description trunk-test21
  {% else -%}
  description access-test21
  {% endif -%}
!
{% endfor -%}
!
